<div class="mainComponent">
    <h1>Hi... ! From App Component</h1>

    <!-- <app-parent-maintenance></app-parent-maintenance> -->
    <div class="combineComponent">

        <app-list-maintenance-service class="individualComponent"></app-list-maintenance-service>
        <hr>
        <app-maintenance-report class="individualComponent"></app-maintenance-report>

    </div>
    <hr>
    <div class="combineComponent">

        <app-list-vehicle class="individualComponent"></app-list-vehicle>
        <hr>
        <app-vehicle-report class="individualComponent"></app-vehicle-report>

    </div>
</div>
